.luna {
  position: absolute;
  width: 67px;
  height: 67px;
  background: #ffef00;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0 #ffef00;
  position: absolute;
  overflow: hidden;
  left: 60px;
  animation: luna 1s forwards ease-in-out;
}
@keyframes luna {
  0% {
      transform: translateY(200px);
  }

  100% {
      transform: translateY(50px);
  }
}

.contenedor{
  position: relative;
  display: flex;
  justify-content: right;
  background-color: #f0886d;
  width: 600px;
  height: 250px;
}

.info{
  text-align: right;
  margin: 10px 20px 0 0;
}

.ciudad, .temperatura{
  margin: 0;
  font-size: 25px;
  font-weight: 700;
}

.datos{
  display: flex;
  flex-direction: row;
  gap: 15px;
  text-align: center;
  font-weight: 600;
}